$shadowState: 0 5px 14px transparentize(color("primary"), 0.86);

.btn {
    max-width: 250px;
    @include center;

    @include breakpoint(sm) {
        max-width: initial;
    }
    &__anchor {
        width: 100%;
        padding: 1.6rem 4rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        column-gap: 1.2rem;
        white-space: nowrap;
        color: color("supportDark3");
        font-weight: 800;
        background: linear-gradient(
            266.57deg,
            color("primaryDark"),
            color("primary")
        );
        @include breakpoint(sm) {
            padding: 1.4rem 3rem;
        }
    }
}