.btn {
    max-width: 250px;
    @include center;

    @include breakpoint(sm) {
        max-width: initial;
    }
    &__anchor {
        width: 100%;
        padding: 1.6rem 4rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        column-gap: 1.2rem;
        white-space: nowrap;
        color: color("supportDark3");
        font-weight: 800;
        background: linear-gradient(
            266.57deg,
            color("primaryDark"),
            color("primary")
        );
        @include transition("button", opacity, box-shadow);
        @include state((
            hover: (
                opacity: 0.7,
                box-shadow: 0 0 22px 4px transparentize(color("primary"), 0.8)
            ),
            active: (opacity: 0.4)
        ), );
        @include breakpoint(sm) {
            padding: 1.4rem 3rem;
        }
    }
}