body {
    background: linear-gradient(
        247.12deg,
        color("supportDark2") -0.29%,
        color("supportDark3") 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.app {
    text-align: center;
    padding: 3rem calc(grid("gutter") / 2);

    &__icon {
        @include margin-bottom(4rem);

        a {
            display: inline-block;
            padding: 2rem;

            @include desktop {
                &:hover img {
                    opacity: 0.7;
                    box-shadow: 0 0 42px 24px transparentize(color("primary"), 0.8);
                }
            }
            &:active img {
                opacity: 0.4;
            }
            @include breakpoint(sm) {
                width: 180px;
            }
        }
        img {
            @include transition("button", opacity, box-shadow);
        }
    }
    &__title {
        @include margin-bottom(8rem);
    }
}