body {
    background: linear-gradient(
        247.12deg,
        color("supportDark2") -0.29%,
        color("supportDark3") 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.app {
    text-align: center;
    padding: 3rem calc(grid("gutter") / 2);

    &__icon {
        @include margin-bottom(4rem);

        a {
            display: inline-block;
            padding: 2rem;

            @include transition("button", opacity, transform);
            @include state((
                hover: (opacity: 0.6, transform: scale(1.02)),
                active: (opacity: 0.4),
            ));
            @include breakpoint(sm) {
                width: 180px;
            }
        }
    }
    &__title {
        @include margin-bottom(8rem);
    }
}